@model WebAppPaq.Models.Paq.Factura

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreClienteEnvia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreClienteEnvia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoClienteEnvia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoClienteEnvia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoClienteEnvia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoClienteEnvia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CedulaClienteEnvia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CedulaClienteEnvia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreClienteRecibe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreClienteRecibe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApellidoClienteRecibe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApellidoClienteRecibe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoClienteRecibe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoClienteRecibe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CedulaClienteRecibe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CedulaClienteRecibe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sucursal.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
