@model IEnumerable<WebAppPaq.Models.Paq.Factura>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Crear nueva factura</a>
</p>

<div class="table-responsive">


    <table class="table">
        <thead>
            <tr>
                <th>
                    Cliente que envia
                </th>

                <th>
                    Cedula
                </th>
                <th>
                    Cliente que recibe
                </th>

                <th>
                    Cedula
                </th>
                <th>
                    Fecha de creacion
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sucursal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
     
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreClienteEnvia) @Html.DisplayFor(modelItem => item.ApellidoClienteEnvia)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.CedulaClienteEnvia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreClienteRecibe) @Html.DisplayFor(modelItem => item.ApellidoClienteRecibe)
                    </td>
              
         
                    <td>
                        @Html.DisplayFor(modelItem => item.CedulaClienteRecibe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sucursal.Descripcion)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>


